html
{
	background-color: #BECBC9;
}
caption
{
	font-size: 200%;
	padding-top: 2%;
	padding-bottom: 2%;
}
table
{
    border-collapse: collapse;
}
thead
{
	background-color: #FFE4C4;
}
tr /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid #F3F7F6;
    box-shadow: 1px 1px 1px;
    line-height: 25px;
}
tbody
{
	font-style: normal;
	background-color: 	#F5F5DC;
}
table
{
    width: 100%;
}
th
{
	border: 1px solid #F3F7F6;
}
td
{
    
    text-align:center;
}